
	<section id="footer">
		<div class="container">
			<header class="major">
				<h2>Get in touch</h2>
			</header>
			<form method="post" action="#">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
					<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
					<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
					<div class="col-12">
						<ul class="actions special">
							<li><input type="submit" value="Send Message" class="primary" /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		<footer>
			<ul class="icons">
				<li><a href="{{ data.github   }}" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="{{ data.youtube  }}" class="icon brands alt fa-youtube"><span class="label">Youtube</span></a></li>
				<li><a href="{{ data.medium   }}" class="icon brands alt fa-medium"><span class="label">Medium</span></a></li>
				<li><a href="{{ data.twitter  }}" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="{{ data.facebook }}" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a></li>
				<li>Design: <a href="https://html5up.net/highlights">HTML5 UP</a></li>
			</ul>
		</footer>
	</section>
